<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmitForm(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" class="form-control" ngModel required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" name="amount" class="form-control" ngModel required [pattern]="'^[1-9]+[0-9]*$'">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button 
          class="btn btn-success" 
          type="submit"
          [disabled]="!f.valid"
          >{{editedMode? 'Update':'Add'}}</button>
          <button *ngIf="editedMode" class="btn btn-danger" type="button" (click)="onDelete()">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
